<!--    Name: Dustin Segawa
        Assignment: CS336 Assignment #10
        Created: 8/18/2020
        Description: Error Template for assignment   -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords"
          content="error" />
    <meta name="description"
          content="error message for registration" />
    <meta name="author"
          content="Dustin Segawa" />
    <meta name="robots"
          content="noindex" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>-ERROR-</title>
    <link rel="stylesheet" href="/static/css/webdefault.css">
</head>
<body class="errorMsg">
<br><br><br><br><br><br><br><br><br><br><br>
<div>
    <h1>ERROR:</h1>
    <h3>{{ error_msg }}</h3>
    <h3>{{ fix_msg }}</h3>
</div>
</body>
</html>