{#      Name: Dustin Segawa
        Assignment: CS336 Assignment #10
        Created: 8/18/2020
        Description: footer for including in base template   #}

        <br><hr>
        <div class="flex_row">
            <div class="flex1">
                <address>
                    <small>
                        Conference POC:<br>
                        <strong>Garfield "The Cat" Arbuckle</strong><br>
                        Address: <a href="https://goo.gl/maps/W9467YR5XifZBCkM8">2500 W Main St. Muncie, IN 47303</a><br>
                        Telephone: <a href="tel:+18005913274"> 1(800) 591-3274</a><br>
                        email: <a href="https://gizmodo.com/the-original-gmail-was-garfield-mail-1822970617">
                            garfieldthecat@original.g-mail.com</a><br>
                        <a href="Garfield.vcf">My Contact Information</a><br><br>
                    </small>
                </address>
            </div>
            <div class="flex2">
                <div class="flex_column">
                    <strong>Disclaimers:</strong><br>
                    <div class="flex1">
                        <blockquote>    <!-- Blocked for emphasis -->
                            While this web site was created to satisfy the requirement of building a web site for an academic course
                            at Regis University, the views and opinions expressed on this web site are solely those of the original
                            author and do not necessarily represent the views and opinions of Regis University.
                        </blockquote>
                    </div>
                    <div class="flex1">
                        <blockquote>
                            Garfield is copyrighted material, authorized by <a href="https://www.nick.com/legal/ussoge/terms-of-use">
                            VIACOM INTERNATIONAL INC.</a> under personal use.<br>
                            © 2020 VIACOM INTERNATIONAL INC. ALL RIGHTS RESERVED. NICK AND ALL RELATED TITLES, LOGOS AND CHARACTERS
                            ARE TRADEMARKS OF VIACOM INTERNATIONAL INC.
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

