{% extends 'base.html' %}

{% block keywords %}meals, food, menu{% endblock %}
{% block description %}meals for the conference{% endblock %}
{% block title %}Meals Menu{% endblock %}

{% block main %}
        <div class="flex_column">
            <div class="center">
                <div class="bold text_title">Catered Menu</div>
            </div><br>
            <div class="flex_row">
                <div class="flex_column min225 pad">
                    <div class="center pad">
                        <img src="/static/images/dinner1.jpg" alt="first dinner" class="img75">
                    </div><br>
                    <div class="center pad bold text_heading">Day 1</div><br>
                    <div class="center pad bold text_block">Breakfast</div>
                    <div class="center pad text_block">Ground Chorizo Sausage, Scrambled Eggs, Homemade Mild Salsa,
                        Homemade Guacamole, Shredded Monterrey Jack Cheese, Assorted Fruit Bowl, Orange Juice,
                        Bottled Water
                    </div><br>
                    <div class="center pad bold text_block">Lunch</div>
                    <div class="center pad text_block">Burger Bar, Buns, Swiss Cheese, Cheddar, Pepper Jack, Lettuce,
                        Tomatoes, Pickles, Red Onions, Garlic Aioli, Honey Mustard, Ketchup
                    </div><br>
                    <div class="center pad bold text_block">Dinner</div>
                    <div class="center pad text_block">Chicken ala Reds, Chicken Cordon Bleu, Crumbed Haddock Fillet,
                        Jerk Marinated Chicken, Hemp Rigatoni butter sauce, Creamy Tuscan Chicken with Kale, Sliced
                        Cajun Rubbed Pork Tenderloin, Grouper Florentine, Stuffed Jumbo Shrimp
                    </div><br>
                </div>
                <div class="flex_column min225 pad">
                    <div class="center pad">
                        <img src="/static/images/dinner2.jpg" alt="second dinner" class="img75">
                    </div><br>
                    <div class="center pad bold text_heading">Day 2</div><br>
                    <div class="center pad bold text_block">Breakfast</div>
                    <div class="center pad text_block">Belgian Waffle Station, Fresh Blueberry Topping, Fresh Strawberry Topping, Whipped Cream,
                        Maple Syrup, Whipped Butter, Powdered Sugar, Strawberries, Pineapple, Grapes, Watermelon,
                        Cantaloupe, Honeydew, Assorted Berries
                    </div><br>
                    <div class="center pad bold text_block">Lunch</div>
                    <div class="center pad text_block">Baked Potato Bar, Ground Beef & Bean Chili, Warm Nacho Cheese, Monterrey Jack Cheese,
                        Sour Cream, Homemade Mild Salsa, Warm Diced Bacon, Broccoli, Green Onions
                    </div><br>
                    <div class="center pad bold text_block">Dinner</div>
                    <div class="center pad text_block">Lemon Chicken Piccata, Farm Brick Chicken, Chicken Marsala,
                        Chicken Romesco, Butternut Squash Risotto, Swordfish Steak, Salmon with Dill Crème, Bacon
                        Wrapped Meatloaf, Grilled Angus Sirloin Steak
                    </div><br>
                </div>
            </div>
        </div>
        <div class="flex_row center text_heading bold">
            *Dinner Day 2: $75.00<br>
            <br>
            Full Meal Package: $250.00<br> (includes Dinner for Day 2)<br>
        </div>
{% endblock %}