<!DOCTYPE html>
<!--    Name: Dustin Segawa
        Assignment: CS336 Assignment #7
        Created: 7/28/2020
        Description: 10 tags page for assignment   -->
<html lang="en">
<head>
    <meta name="keywords"
          content="name, tags, nametags" />
    <meta name="description"
          content="html page for printing nametags" />
    <meta name="author"
          content="Dustin Segawa" />
    <meta name="robots"
          content="noindex" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nametags 10</title>
    <link rel="stylesheet" href="../static/css/nametags10.css">
</head>
<body>
    <main>
        <div class="page">
            <div class="nt10_col">
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Jill</span>
                            <span class="lname">Jackson</span>
                        </div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">John</span>
                            <span class="lname">Smith</span>
                        </div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Lucy</span>
                            <span class="lname">Robertson</span>
                        </div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Benjamin</span>
                            <span class="lname">Reyes</span>
                        </div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Ada</span>
                            <span class="lname">Lovelace</span>
                        </div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Bill</span>
                            <span class="lname">Gates</span>
                        </div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Corrinne</span>
                            <span class="lname">Yu</span>
                        </div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Donald</span>
                            <span class="lname">Knuth</span>
                        </div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Audrey</span>
                            <span class="lname">Tang</span>
                        </div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Jill2</span>
                            <span class="lname">Jackson</span>
                        </div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="nt10_col">
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">John2</span>
                            <span class="lname">Smith</span>
                        </div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Lucy2</span>
                            <span class="lname">Robertson</span>
                        </div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Benjamin2</span>
                            <span class="lname">Reyes</span>
                        </div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Ada2</span>
                            <span class="lname">Lovelace</span>
                        </div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Bill2</span>
                            <span class="lname">Gates</span>
                        </div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Corrinne2</span>
                            <span class="lname">Yu</span>
                        </div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Donald2</span>
                            <span class="lname">Knuth</span>
                        </div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Audrey2</span>
                            <span class="lname">Tang</span>
                        </div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Jill3</span>
                            <span class="lname">Jackson</span>
                        </div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">John3</span>
                            <span class="lname">Smith</span>
                        </div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="nt10_col">
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Lucy3</span>
                            <span class="lname">Robertson</span>
                        </div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Benjamin3</span>
                            <span class="lname">Reyes</span>
                        </div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Ada3</span>
                            <span class="lname">Lovelace</span>
                        </div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Bill3</span>
                            <span class="lname">Gates</span>
                        </div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Corrinne3</span>
                            <span class="lname">Yu</span>
                        </div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Donald3</span>
                            <span class="lname">Knuth</span>
                        </div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Audrey3</span>
                            <span class="lname">Tang</span>
                        </div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Jill4</span>
                            <span class="lname">Jackson</span>
                        </div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">John4</span>
                            <span class="lname">Smith</span>
                        </div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Lucy4</span>
                            <span class="lname">Robertson</span>
                        </div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="nt10_col">
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Benjamin4</span>
                            <span class="lname">Reyes</span>
                        </div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Ada4</span>
                            <span class="lname">Lovelace</span>
                        </div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Bill4</span>
                            <span class="lname">Gates</span>
                        </div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Corrinne4</span>
                            <span class="lname">Yu</span>
                        </div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Donald4</span>
                            <span class="lname">Knuth</span>
                        </div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">Audrey4</span>
                            <span class="lname">Tang</span>
                        </div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname"></span>
                            <span class="lname"></span>
                        </div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname"></span>
                            <span class="lname"></span>
                        </div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname"></span>
                            <span class="lname"></span>
                        </div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname"></span>
                            <span class="lname"></span>
                        </div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
