<!DOCTYPE html>
<!--    Name: Dustin Segawa
        Assignment: CS336 Assignment #7
        Created: 7/28/2020
        Description: 10 tags page for assignment   -->
<html lang="en">
<head>
    <meta name="keywords"
          content="name, tags, nametags" />
    <meta name="description"
          content="html page for printing nametags" />
    <meta name="author"
          content="Dustin Segawa" />
    <meta name="robots"
          content="noindex" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nametags 10</title>
    <link rel="stylesheet" href="../static/css/nametags10.css">
</head>
<body>
    <main>
        <div class="page">
            <div class="nt10_col">
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt10_row">
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt10">
                        <div class="name10">
                            <span class="fname">firstname</span>
                            <span class="lname">lastname</span>
                        </div>
                        <div class="pos">position</div>
                        <div class="co_loc">
                            <div class="co">company</div>
                            <div class="loc">
                                <span class="ct">city</span>,
                                <span class="st">state</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>