<!DOCTYPE html>
<!--    Name: Dustin Segawa
        Assignment: CS336 Assignment #7
        Created: 7/28/2020
        Description: 8 tags page for assignment   -->
<html lang="en">
<head>
    <meta name="keywords"
          content="name, tags, nametags" />
    <meta name="description"
          content="html page for printing nametags" />
    <meta name="author"
          content="Dustin Segawa" />
    <meta name="robots"
          content="noindex" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nametags 8</title>
    <link rel="stylesheet" href="../static/css/nametags8.css">
</head>
<body>
    <main>
        <div class="page">
            <div class="nt8_col">
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Jill</div>
                        <div class="lname8">Jackson</div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">John</div>
                        <div class="lname8">Smith</div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Lucy</div>
                        <div class="lname8">Robertson</div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Benjamin</div>
                        <div class="lname8">Reyes</div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Ada</div>
                        <div class="lname8">Lovelace</div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Bill</div>
                        <div class="lname8">Gates</div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Corrinne</div>
                        <div class="lname8">Yu</div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Donald</div>
                        <div class="lname8">Knuth</div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="nt8_col">
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Audrey</div>
                        <div class="lname8">Tang</div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Jill2</div>
                        <div class="lname8">Jackson</div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">John2</div>
                        <div class="lname8">Smith</div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Lucy2</div>
                        <div class="lname8">Robertson</div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Benjamin2</div>
                        <div class="lname8">Reyes</div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Ada2</div>
                        <div class="lname8">Lovelace</div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Bill2</div>
                        <div class="lname8">Gates</div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Corrinne2</div>
                        <div class="lname8">Yu</div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="nt8_col">
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Donald2</div>
                        <div class="lname8">Knuth</div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Audrey2</div>
                        <div class="lname8">Tang</div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Jill3</div>
                        <div class="lname8">Jackson</div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">John3</div>
                        <div class="lname8">Smith</div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Lucy3</div>
                        <div class="lname8">Robertson</div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Benjamin3</div>
                        <div class="lname8">Reyes</div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Ada3</div>
                        <div class="lname8">Lovelace</div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Bill3</div>
                        <div class="lname8">Gates</div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="nt8_col">
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Corrinne3</div>
                        <div class="lname8">Yu</div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Donald3</div>
                        <div class="lname8">Knuth</div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Audrey3</div>
                        <div class="lname8">Tang</div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Jill4</div>
                        <div class="lname8">Jackson</div>
                        <div class="pos">Web Developer</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">John4</div>
                        <div class="lname8">Smith</div>
                        <div class="pos">IT Manager</div>
                        <div class="co_loc">
                            <div class="co">Really Big Company</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Lucy4</div>
                        <div class="lname8">Robertson</div>
                        <div class="pos">Senior Developer</div>
                        <div class="co_loc">
                            <div class="co">Walmart</div>
                            <div class="loc">
                                <span class="ct">Bentonville</span>,
                                <span class="st">AR</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Benjamin4</div>
                        <div class="lname8">Reyes</div>
                        <div class="pos">Quality Control Lead</div>
                        <div class="co_loc">
                            <div class="co">Quality Is Us!</div>
                            <div class="loc">
                                <span class="ct">Austin</span>,
                                <span class="st">TX</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Ada4</div>
                        <div class="lname8">Lovelace</div>
                        <div class="pos">Mathematician</div>
                        <div class="co_loc">
                            <div class="co">Regis University</div>
                            <div class="loc">
                                <span class="ct">Denver</span>,
                                <span class="st">CO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="nt8_col">
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Bill4</div>
                        <div class="lname8">Gates</div>
                        <div class="pos">Computer Programmer</div>
                        <div class="co_loc">
                            <div class="co">Microsoft</div>
                            <div class="loc">
                                <span class="ct">Redmond</span>,
                                <span class="st">WA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Corrinne4</div>
                        <div class="lname8">Yu</div>
                        <div class="pos">Game Programmer</div>
                        <div class="co_loc">
                            <div class="co">Naughty Dog</div>
                            <div class="loc">
                                <span class="ct">Santa Monica</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8">Donald4</div>
                        <div class="lname8">Knuth</div>
                        <div class="pos">Professor</div>
                        <div class="co_loc">
                            <div class="co">Stanford University</div>
                            <div class="loc">
                                <span class="ct">Standford</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8">Audrey4</div>
                        <div class="lname8">Tang</div>
                        <div class="pos">Software Programmer</div>
                        <div class="co_loc">
                            <div class="co">Pugs Project</div>
                            <div class="loc">
                                <span class="ct">San Jose</span>,
                                <span class="st">CA</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8"></div>
                        <div class="lname8"></div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8"></div>
                        <div class="lname8"></div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nt8_row">
                    <div class="nt8">
                        <div class="fname8"></div>
                        <div class="lname8"></div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                    <div class="nt8">
                        <div class="fname8"></div>
                        <div class="lname8"></div>
                        <div class="pos"></div>
                        <div class="co_loc">
                            <div class="co"></div>
                            <div class="loc">
                                <span class="ct"></span>,
                                <span class="st"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
