{#      Name: Dustin Segawa
        Assignment: CS336 Assignment #10
        Created: 8/18/2020
        Description: Nav links for including in base template   #}

        <nav id="header" class="flex_column border1 bold">
            <div class="flex_row">
                <div class="border1 center pad">Navigation Links:</div>
            </div>
            <div class="flex_row">
                <div class="flex_row_nw">
                    <div class="border1 center"><a href="index">Index</a></div>
                    <div class="border1 center"><a href="awards">Member Choice Awards</a></div>
                    <div class="border1 center"><a href="activities">Local Activites</a></div>
                    <div class="border1 center"><a href="meals">Meals</a></div>
                </div>
                <div class="flex_row_nw">
                    <div class="border1 center"><a href="keynote">Keynote Speakers</a></div>
                    <div class="border1 center"><a href="workshopschedule">Workshop Schedule</a></div>
                    <div class="border1 center"><a href="registration">Registration Form</a></div>
                    <div class="border1 center"><a href="admin">Administration</a></div>
                </div>
            </div>
        </nav>