{% extends 'base.html' %}

{% block keywords %}workshop, workshops, schedule{% endblock %}
{% block description %}workshop schedule for the conference{% endblock %}
{% block title %}Workshop Schedule{% endblock %}

{% block main %}
        <div class="flex_column text_block center">
            <table>
                <thead class="bold">
                    <tr>
                        <th>Day</th>
                        <th>Session</th>
                        <th>Workshop Title</th>
                        <th>Speaker</th>
                        <th>Room</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Day 1</td>
                        <td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Antennas</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Feeds</td>
                        <td>Pookie Arkouda</td>
                        <td>Room A</td>
                        <td>10:00 - 12:00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Reflectors</td>
                        <td>Lyman Sknipa</td>
                        <td>Room B</td>
                        <td>10:00 - 15:00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Materials</td>
                        <td>Dr. Liz Wilson</td>
                        <td>Room C</td>
                        <td>10:00 - 12:00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Signal Loss</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>System Losses</td>
                        <td>Nermal Miwkju</td>
                        <td>Room A</td>
                        <td>13:00 - 15:00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Transmission Losses</td>
                        <td>Arlene Koshka</td>
                        <td>Room B</td>
                        <td>13:00 - 15:00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Interference</td>
                        <td>Binky Klaun</td>
                        <td>Room C</td>
                        <td>13:00 - 15:00</td>
                    </tr>
                    <tr>
                        <td>Day 2</td>
                        <td></td><td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Signal Gain</td>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Calibration</td>
                        <td>Frank Geomi</td>
                        <td>Room A</td>
                        <td>09:00 - 11:00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Amplifiers</td>
                        <td>Dr. Boy Arbuckle</td>
                        <td>Room B</td>
                        <td>09:00 - 11:00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Processing</td>
                        <td>Dr. Irma Davis</td>
                        <td>Room C</td>
                        <td>09:00 - 11:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}